.category-container {
    margin-left: .5rem;
    
    &:hover {
        cursor: pointer;
    }

    h4 {
        font-size: 1.8rem;
        color: white;
        background-color: #004171;
        width: 100%;
        margin: 0;
        border: solid 2px grey;
    }

    img {
        width: 100%;
        border: solid 2px grey;
    }
}