footer {
    background-color: lighten($color: black, $amount: 20%);
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    padding-bottom: 1.8rem;

    h5 {
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: .7rem;
    }

    .social-icons {
        width: 100%;
        display: flex;
        justify-content: center;

        svg {
            width: 1.8rem;
            height: 1.8rem;
            transition: all .5s ease;
            transition-property: width, height, color;
            margin: 0 2rem;

            &:hover {
                cursor: pointer;
                width: 2rem;
                height: 2rem;
                color: white;
            }
        }
    }
}