@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,200&family=Quicksand:wght@300;400;500;700&display=swap');

$font: "Poppins", sans-serif;
$grid-width: 23.5%;
$grid-gap: 1.5rem;
$nav-width: 18rem;
$header-height: 4rem;