@import "config";

* {
    box-sizing: border-box;
}

body {
    font-family: $font;
    margin: 0;
    width: calc(100% - $nav-width);
    height: 100%;
    background-color: black;
}

button:hover {
    cursor: pointer;
}