node_modules/
.env
client/src/img/
client/src/previews/
client/build/static/media/
client/build/img
client/build/previews
img
previews
client/public/cover
client/src/images.json
client/src/previews.json
mobile/
client/src/previews.json
csphotosport/
img/
previews/
cover/
passaggi.txt
fanta-waterpolo/
.idea