@import "../../config";

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;

    &-bar {
        font-family: $font;
        background-color: black;
        border: none;
        color: white;

        &::placeholder {
            color: white;
        }
    }
}