@import "../../config";

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    gap: .5rem;

    &-bar {
        font-family: $font;
        background-color: black;
        border: 2px solid white;
        border-radius: 10px;
        color: white;
        padding: 1rem;

        &::placeholder {
            color: white;
        }
    }
}