.contact-content {
    width: 100%;

    h2 {
        text-align: center;
        color: white;

        a {
            color: white;
        }
    }

    h3 {
        color: white;
        text-align: center;
    }
}