@import "../config";

.grid {
    display: grid;
    grid-template-columns: $grid-width $grid-width $grid-width $grid-width;
    grid-gap: $grid-gap;
    text-align: center;
}

@media (max-width: 1000px) {
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: calc($grid-gap - .3rem);

        div {
            margin: 2rem 0;
            width: 70%;
            padding: .7rem;
        }
    }
}