@import "../config";

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: $grid-width $grid-width $grid-width $grid-width;
    grid-gap: $grid-gap;
    text-align: center;
}

@media (max-width: 1000px) {
    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;

        div {
            margin: 1rem 0;
            width: 90%;
        }
    }
}

@media (max-width: 650px) {
    .grid {
        div {
            width: 95%;
        }
    }
}

@media (max-width: 450px) {
    .grid {
        margin-left: 0;
        div {
            width: 98%;
            padding: 0;
        }
    }
}