.item {
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    padding: 2rem;
    height: 8rem;
    background-color: #074e81;
    margin-top: 1.3rem;
    width: 100%;

    .preview {
        height: 120%;
        margin: 0 2.5rem;
        margin-right: 1rem;
    }

    .cross-icon {
        width: 1.8rem;
        height: 1.8rem;
    }

    .cross-icon:hover {
        cursor: pointer;
    }

    h2 {
        margin-left: 1rem;
    }

    h3 {
        color: white;
    }
}

@media (max-width: 500px) {
    .item {
        h3 {
            display: none;
        }
    }
}