.item {
    box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    padding: 2rem;
    height: 8rem;

    img {
        height: 100%;
        margin: 0 2.5rem;
        margin-right: 1rem;
    }

    .cross-icon:hover {
        color: gray;
        cursor: pointer;
    }

    h2 {
        margin-left: 1rem;
    }
}