@import "../Grid.scss";
@import "../../config";

.photos-container {
    margin-top: 2rem;
    margin-left: 1rem;

    h1 {
        color: white;
        text-align: left;
        width: 100%;
    }
}
.news-btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    .news-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .8rem;
        border-radius: 18px;
        border: solid 2px white;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        transition: all .3s;
        transition-property: color, background-color;

        svg {
            transition: all .3s;
            transition-property: fill;
        }

        span {
            padding: 0 .5rem;
            font-family: $font;
            font-size: 1.2rem;
        }

        &:hover {
            background-color: white;
            color: black;

            svg {
                fill: black;
            }
        }
    }
}

.sub-title {
    color: white;
    font-weight: 350;
    text-align: center;
    width: 100%;
    margin: 1rem;
}

.highlighted {
    color: white;
    font-weight: bolder;
}

.share-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.share-icon {
    &:hover {
        cursor: pointer;
    }
}